@page "/payment-success"
@inject IOrderService OrderService

<PageTitle>ご購入ありがとうございました！</PageTitle>

<h2 style="color: #077D61;">
    <span class="oi oi-circle-check"></span>
    ご購入ありがとうございました！
</h2>
<p>注文履歴は<a href="orders">こちら</a>からご確認いただけます。</p>

<BackToTop></BackToTop>

@code {

}
