@page "/products/{productId:int}/review/{reviewId:int}/update"
@attribute [Authorize]

<PageTitle>この商品のレビューを修正</PageTitle>

<a href=@($"/products/{ProductId}") class="mt-3 mb-3">←商品ページに戻る</a>
<h2 class="mb-2">この商品のレビューを修正</h2>

<ReviewEditor Mode="FormEditMode.Update" ProductId="@ProductId" ReviewId="@ReviewId"></ReviewEditor>

@code{
    [Parameter]
    public int ProductId { get; set; }

    [Parameter]
    public int ReviewId { get; set; }
}
