<h2>500</h2>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

<p>予期しないエラーが発生しました。もう一度最初からやり直してください。</p>
<BackToTop></BackToTop>

@code{
    [Parameter]
    public string Message { get; set; }

}
