@inherits LayoutComponentBase
@using BlazorEC.Client.Shared.Errors

<div>
    <main>
        <nav class="navbar navbar-light" style="background-color: #0078D3;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="color: white;">猫でも買えるECサイト</a>
                <form class="d-flex gap-2">
                    <LoginDisplay />
                    <CartButton />
                </form>
            </div>
            <InfoToast />
        </nav>
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                <article class="content px-4">
                    @try
                    {
                        @Body
                    }
                    catch (AccessTokenNotAvailableException ex)
                    {
                        ex.Redirect();
                    }
                </article>
            </ChildContent>
            <ErrorContent>
                <Error Exception="@context"></Error>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>

@code {
    private ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
